@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.sidebarWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-blue-main;
  flex-direction: column;
  height: 100%;
  color: $color-root;
}

.userInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.userAvatar {
  height: 130px;
  width: 130px;
  background-image: url('../../../assets/images/userplaceholder.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.userName {
  font-size: $font-size-title-xs;
  margin-bottom: 10px;
}

.userEmail {
  font-size: $font-size-text-lg;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navLink {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $color-root;
  transition-property: color;
  transition: 0.5s ease;
  font-size: $font-size-text-lg;
  div {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .icon {
    margin-right: 10px;
  }
  .title {
    display: inline-block;
    transition: transform 0.5s ease
  }
}

.navLink:hover {
  transition: all 0.5s ease;
  color: $color-blue-light
}

.activeLink {
  transition: all 0.5s ease;
  background-color: $color-grey-main;
  color: $color-blue-main !important;
  position: relative;

  .title {
    transition: all 0.5s ease;
    transform: translateX(20px);
  }
}

.logout {
  margin-top: auto;
  margin-bottom: 40px;
  height: 40px;
  width: 150px;
  font-size: $font-size-text-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-blue-main;
  cursor: pointer;
  border: none;

  .icon {
    margin-right: 10px;
  }
}

