@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.main {
  display: flex;
  min-height: 100vh;
}

.sidebarContainer {
  width: 250px;
  min-height: 100vh;
}

.contentContainer {
  width: calc(100% - 290px);
  padding: 40px 40px 0 40px;
  background-color: $color-grey-main;
  overflow-y: auto;
  overflow-x: hidden;
}
