@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

// Header
.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $color-main;
  color: $color-root;

  .headerLogo {
    margin-left: 40px;
    font-size: $font-size-title-sm;
  }

  .headerLinks {
    margin-inline: auto;
    a {
      margin-inline: 15px;
    }
  }

  .headerLogin {
    margin-right: 40px;
  }
}

.link {
  transition: all 0.5s;
  color: $color-root;
}

.link:hover {
  transition: all 0.5s;
  color: $color-blue-main;
}

// Pages
.banner {
  height: calc(100vh - 80px);
  background: url('../../assets/images/homepage.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .bannerTitle {
    margin-bottom: 20%;
    position: relative;

    span {
      font-size: $font-size-title-xxl;
      color: $color-blue-main;
      font-weight: 600;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      letter-spacing: 15px;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    span:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px $color-blue-main;
    }
    span:nth-child(2) {
      color: $color-blue-main;
      animation: animate 4s ease-in-out infinite;
    }
  }
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-main;

  .aboutTitle {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      font-size: $font-size-title-lg;
      color: $color-blue-main;
    }
  }
}

.clients {
  height: 100vh;
  background-color: rgb(83, 153, 112);
}

.feedbacks {
  height: 100vh;
  background-color: rgb(51, 105, 167);
}

.contacts {
  height: 400px;
  background-color: rgb(99, 35, 189);
}
