@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  height: 80px;
}
